<!DOCTYPE html>
<html>
<head>

    <title> very fantastic ss.lv page </title>

</head>
<body>


    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;  - give me your money</p>
        </footer>
    </div>

</body>
</html>