<!DOCTYPE html>
<html>
<head>

    <title> Arvids </title>

</head>
<body>


    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;  - Arvids.NET Web Application</p>
        </footer>
    </div>

</body>
</html>