<!-- tut ukazivaem modelj kotoruju podojem, at govorit chto eto c#-->
@model List<AdvertWebApp.Models.Advert>

<!-- tut ispoljzuja foreach cikl zavedem html kod dlja nashih objav-->

@foreach (var ad in Model)
{
    <p>
        <a href="/Home/Advert?advertId=@ad.AdvertId"> 
        @ad.Name - @ad.Price USD</a>
    </p>
}

<!-- tak mozhno pisatj komenti v html kode-->

@Html.ActionLink("add new advert", "CreateAdvert")


